/*stylish-navtab-three tabs*/
/*stylish-PopularPosts-widget*/
.PopularPosts .widget-content ul li {
    padding: 0px 0px 0px 4px;
}
/*stylish-PopularPosts-widget*/
/*stylish-post-summary*/
div .post-summary {
    min-height: 192px;
}
.post-summary p {
    margin: 5px 0;
    min-height: 84px;
}
.index-post-labels {
    margin-bottom: 4px;
}
.post-more-link {
    margin-top: -20px;
}

/*stylish-post-summary*/

.grid .post-more-link {
    display: none !important;
}
.grid .adsbec a img {
    height: 238px !important;
    width: 210px !important;
}
/*stylish comment*/
#comments {}
#comments h3 {
margin-bottom:15px;
font-size:18px;
}
.comment_avatar_wrap{
width:42px;
height:42px;
border: 1px solid #C4C4C4;
border-top-color: #E4E4E4;
border-right-color: #E4E4E4;
background:#fcfcfc;
padding:4px;
border-radius: 2px;
text-align:center;
margin-bottom:20px;
}
#comments .avatar-image-container {
float: right;
margin: 0 10px 0 0;
width: 42px;
height: 42px;
max-width:42px;
max-height:42px;
padding: 0;
margin-bottom:10px;
}
#comments .avatar-image-container img {
width: 42px;
height: 42px;
max-width: 42px;
max-height: 42px;
background:url(http://2.bp.blogspot.com/-fjaZBtfvzac/UN1mw2tUamI/AAAAAAAADkc/XdKqt8hWZ6w/s1600/anon.jpg) no-repeat;
}
.comment_name a {
font-weight: bold;
padding: 5px 0 0 0;
font-size: 13px;
text-decoration: none;
}
.comment_admin .comment_name  {
font-weight: bold;
padding: 10px;
font-size: 13px;
text-decoration: none;
background:#eee;
}
.comment_admin .comment_date  {
font-weight: normal;
font-size:11px;
}
.comment_name {
background:#eee;
padding:10px;
font-size:13px;
font-weight:bold;
position:relative;
}
.comment_service{
margin-top:5px
}
.comment_date {
color: #a9a9a9;
float:left;
font-size:11px;
font-weight:normal;
margin-top:-3px;
}
.comment_date a{
color: #a9a9a9;
float:left;
font-size:11px;
font-weight:normal;
}
.comment_date a:hover{
color: #a9a9a9;
text-decoration:none;
}
.comment_body{
margin-top:-72px;
margin-right:66px;
background:#fcfcfc;
border:1px solid #d1d1d1;
padding:10px;
border-radius: 2px;
}
.comment_body p {
line-height: 1.5em;
margin: 5px 0 0 0;
color: #666;
border:1px solid #eee;
font-size: 13px;
word-wrap:break-word;
background:#fff;
padding:10px;
}
.comment_inner {
padding-bottom: 5px;
margin: 5px 0 5px 0;
}
.comment_child .comment_wrap {
padding-left: 7%;
}
.comment_reply {
display: inline-block;
margin-top:8px;
margin-right:-5px;
padding: 1px 12px;
color: #fff !important;
text-align: center;
text-decoration: none;
border-radius: 2px;
background: #bababa;
font: 11px/18px sans-serif;
transition: background-color 1s ease-out 0s;
}
.comment_reply:hover {
text-decoration: none !important;;
background: #056b95;
}
.unneeded-paging-control {display: none;}
.comment-form {max-width: 100%;!important;}
#comment-editor {
width:100%!important;
background:transparent url('data:image/gif;base64,R0lGODlhKwALAPAAAKrD2AAAACH5BAEKAAEAIf4VTWFkZSBieSBBamF4TG9hZC5pbmZvACH/C05FVFNDQVBFMi4wAwEAAAAsAAAAACsACwAAAjIMjhjLltnYg/PFChveVvPLheA2hlhZoWYnfd6avqcMZy1J14fKLvrEs/k+uCAgMkwVAAAh+QQBCgACACwAAAAAKwALAIFPg6+qw9gAAAAAAAACPRSOKMsSD2FjsZqEwax885hh3veMZJiYn8qhSkNKcBy4B2vNsa3pJA6yAWUUGm9Y8n2Oyk7T4posYlLHrwAAIfkEAQoAAgAsAAAAACsACwCBT4OvqsPYAAAAAAAAAj1UjijLAg9hY6maalvcb+IPBhO3eeF5jKTUoKi6AqYLwutMYzaJ58nO6flSmpisNcwwjEfK6fKZLGJSqK4AACH5BAEKAAIALAAAAAArAAsAgU+Dr6rD2AAAAAAAAAJAVI4oy5bZGJiUugcbfrH6uWVMqDSfRx5RGnQnxa6p+wKxNpu1nY/9suORZENd7eYrSnbIRVMQvGAizhAV+hIUAAA7') no-repeat 50% 30%}}
.comment_form a {
text-decoration: none;
text-transform: uppercase;
font-weight: bold;
font-family: Arial, Helvetica, Garuda, sans-serif;
font-size: 15px;
}
.comment_form a:hover {text-decoration: underline;}
.comment-form p {
    background-color: #fdf9e1;
    padding: 10px;
    margin: 5px 0 10px 0;
    color: #000;
    font-size: 16px;
    line-height: 20px;
/*width: 97%;*/width:auto;
    border-radius: 3px;
    position: relative;
}
.comment-form p:after{
content:"";
width:0;
height:0;
position:absolute;
bottom:-16px;
right:15px;
border:8px solid transparent;
border-color:#666 transparent transparent;
}
.comment_reply_form {
padding: 0 0 0 70px;
}
.comment_reply_form .comment-form {width: 99%;}
.comment_emo_list{
display:none;
}
.comment_emo_list .item {
float: right;
text-align: center;
margin: 10px 10px 0 0;
height: 40px;
width:41px;
}
.comment_emo_list span {
display: block;
font-weight: bold;
font-size: 11px;
letter-spacing: 1px;
}
.comment_emo_list span {
display: block;
font-weight: bold;
font-size: 11px;
letter-spacing: 1px;
}
.comment_youtube {
max-width:100%!important;
width:400px;
height:225px;
display:block;
margin:auto;
}
.comment_img {max-width:100%!important;}
.deleted-comment {
padding: 10px 10px 10px 10px;
display: block;
color: #CCC;
}
.comment_arrow {
display: block;
width: 9px;
height: 18px;
background: url(http://3.bp.blogspot.com/-NONrBLhghFk/To0nNB1LmkI/AAAAAAAAAI4/CAuzDfYiCiU/s1600/comment-arrow.gif) no-repeat;
position: absolute;
margin-right: -19px;
}
.comment_header{width:50px}
#respond {
overflow: hidden;
padding-right: 10px;
clear: both;
}
.comment_avatar img{
width:42px;
height:42px;
background:url(http://2.bp.blogspot.com/-fjaZBtfvzac/UN1mw2tUamI/AAAAAAAADkc/XdKqt8hWZ6w/s1600/anon.jpg) no-repeat}
.comment-delete img{
float:left;
margin-right:15px;
margin-top:3px;
margin-right:10px;
}
.comment_author_flag {display:none}
.comment_admin .comment_author_flag {
display:inline;
background:url(http://1.bp.blogspot.com/-k4w3VD-NeRw/Uwe9Re2IKKI/AAAAAAAAVIs/jxSSRFyugtc/s1600/author.png)no-repeat;
font-size:13px;
font-weight:normal;
padding:2px 6px;
left:-13px;
margin-top:-23px;
color:#fff;
border-radius:4px;
text-transform:uppercase;
position:absolute;
width:36px;
height:36px;
}
iframe{
border:none;
overflow:hidden
}
/*stylish comment*/
/*css-message-comment-form*/
.comment_emo_list .item{float:right;text-align:center;height:40px;width:41px;margin:0 0 10px;}
.comment_emo_list span{display:block;font-weight:400;font-size:11px;letter-spacing:1px;color:#444}
.comment_youtube{max-width:100%!important;width:400px;height:225px;display:block;margin:auto}
.commentmesg {
background-color: #fdf9e1;
box-shadow: 0 0 1px #bbb inset;
/*font: 13px/1.5em NSA;*/
/*padding: 5px 5px 8px;*/
}
.commentmesg b {
background-color: #444444;
color: #fff;
float: right;
font: bold 12px/16px JF Flat;
height: 16px;
margin-left: 5px;
margin-top: 2px;
text-align: center;
width: 16px;
}
.commentmesg a {color: #3A81DF;}
.commentmesg a:hover {color:#000;}
#konversi-box, #hide-konversi,#emo-box,#hide-emo {display:none}
#konversi-box {width:100%;color:#eee;background:none;line-height:1.6em;margin-bottom:20px;padding:0;text-align:right;}
.checkbox{font:11px Tahoma,Verdana,Arial,Sans-Serif;line-height:1.6em;color:#eee;}
#codes{border:none;width:100%;height:200px;display:block;background-color:#444;color:#eee;font:normal 12px 'NSA',Monospace;margin:7px 0 10px;padding:8px;transition:all 0.5s linear;}
#codes:focus{background-color:#444;color:#fff;border:none;outline:none;transition:all 0.3s linear;}
.button-group{float:left;text-align:right;margin:0 auto}
button,button[disabled]:active{border:none;font-size:12px;font-family:JF Flat,Lobster;;font-weight:normal;padding:4px 10px;text-decoration:none;background:#4288cc;color:#fff;display:inline-block;transition:all 0.5s linear;cursor:pointer;border:1px solid #4084c5;}
button:hover{background:#fff;color:#4288cc;transition:all 0.2s linear;}
button:active{background:#fff;color:#4288cc;}
button[disabled],button[disabled]:active{color:#fff;cursor:default}
#opt1,#opt2,#opt3,#opt4,#opt5{display:inline-block;vertical-align:middle;border:none;outline:none;margin:0 0 0 10px}
.small-button a,.small-button1 a {font-size:12px;/*font-family:NSA,Lobster;*/cursor:pointer;font-weight:400;margin:10px 0 5px 5px;text-decoration:none;text-transform:none;text-shadow:none;display:inline-block;background-color:rgba(0,0,0,0.2);color:#f30404;padding:4px 10px;cursor:pointer;transition:all 0.5s linear}
.small-button:hover a,.small-button1:hover a{text-shadow:none;display:inline-block;background-color:#fff;color:#666;transition:all 0.2s linear}
span.small-button {text-align:right;display:inline-block;}
/*css-message-comment-form*/
/*stylish h1 post*/
.post h1 {
    border-radius: 5px;
    background: rgba(38,73,47,0.16);
    box-shadow: 1px 2px 9px #b1b1b1;
    text-decoration: none;
    padding: 10px;
    line-height: 30px;
    margin: 5px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    font-weight: 400;
    font-family: GESSTwoMediumRegular, Tahoma, FontAwesome, Arial, Sans-serif;
    font-size: 180%;
    letter-spacing: .01em;
    color: #fff;
    text-align: center;
}
/*stylish h1 post*/
/*stylish h2 static_page*/
h2.post-title.entry-title.static_page {
    border-radius: 5px;
    background: rgba(38,73,47,0.16);
    box-shadow: 1px 2px 9px #b1b1b1;
    text-decoration: none;
    padding: 10px;
    line-height: 30px;
    margin: 5px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    font-weight: 400;
    font-family: GESSTwoMediumRegular, Tahoma, FontAwesome, Arial, Sans-serif;
    font-size: 180%;
    letter-spacing: .01em;
    color: #fff;
    text-align: center;
}
/*stylish h2 static_page*/
/* prism-syntax-highlighter */
pre {margin: .5em 0;white-space: pre;word-wrap: break-word;background-color: #2c323c;position: relative;border-radius: 4px;direction: ltr;}
pre::before {font-size: 16px;content: attr(title);position: absolute;top: 0;background-color: #eee;padding: 2px 0px 0px 10px;left: 0;right: 0;color: #427fed;;text-transform: uppercase;display: block;margin: 0 0 15px 0;font-weight: bold;box-shadow: 0 0 3px #ccced7;}
pre::after {content: 'انقر مرتين لنسخ الكود';padding: 2px 10px;width: auto;height: auto;position: absolute;right: 0px;top: 0px;color: #363b43;line-height: 20px;transition: all 0.3s ease-in-out;  font-family: 'Droid Arabic Kufi',serif;width: 145px;}
pre:hover::after {opacity: 0;top: -8px;visibility: visible;}
code {font-family: Consolas,Monaco,'Andale Mono','Courier New',Courier,Monospace;line-height: 16px;color: #88a9ad;background-color: transparent;padding: 1px 2px;font-size: 12px;}
pre code {display: block;background: none;border: none;color: #e9e9e9;direction: ltr;text-align: left;word-spacing: normal;padding: 0 0;font-weight: bold;padding: 0px 5px 5px 5px;overflow: auto;margin:23px 0px 0px 0px;max-height: 400px;}
code .token.punctuation {color: #ccc;}
pre code .token.punctuation {color: #fafafa;}
code .token.comment,code .token.prolog,code .token.doctype,code .token.cdata {
color: #777;}
code .namespace {opacity: .8;}
code .token.property,code .token.tag,code .token.boolean,code .token.number {color: #e5dc56;}
code .token.selector,code .token.attr-name,code .token.string {color: #88a9ad;}
pre code .token.selector,pre code .token.attr-name {color: #fafafa;}
pre code .token.string {color: #40ee46;}
code .token.entity,code .token.url,pre .language-css .token.string,pre .style .token.string {color: #ccc;}
code .token.operator {color: #1887dd;}
code .token.atrule,code .token.attr-value {color: #009999;}
pre code .token.atrule,pre code .token.attr-value {color: #1baeb0;}
code .token.keyword {color: #e13200;font-style: italic;}
code .token.comment {font-style: italic;}
code .token.regex {color: #ccc;}
code .token.important {font-weight: bold;}
code .token.entity {cursor: help;}
pre mark {background-color: #ea4f4e!important;color: #fff!important;padding: 2px;border-radius: 2px;}
code mark {background-color: #ea4f4e!important;color: #fff!important;padding: 2px;border-radius: 2px;}
pre code mark {background-color: #ea4f4e!important;color: #fff!important;padding: 2px;border-radius: 2px;}
.comments pre {padding: 10px 10px 15px 10px;background: #2c323c;}
.comments pre::before {content: 'Code';font-size: 13px;position: relative;top: 0;background-color: #f56954;padding: 3px 10px;left: 0;right: 0;color: #fff;text-transform: uppercase;display: inline-block;margin: 0 0 10px 0;font-weight: bold;border-radius: 4px;border: none;}
.comments pre::after {font-size: 11px;}
.comments pre code {color: #eee;}
.comments pre.line-numbers {padding-left: 10px;}
pre.line-numbers {position: relative;counter-reset: linenumber;text-align: left;}
pre.line-numbers > code {position: relative;}
.line-numbers .line-numbers-rows {height: 100%;position: absolute;pointer-events: none;top: 0;font-size: 100%;left: -3.5em;width: 3em;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;padding: 0;}
.line-numbers-rows > span {pointer-events: none;display: block;counter-increment: linenumber;}
.line-numbers-rows > span:before {content: counter(linenumber);color: #999;display: block;padding-right: 0.8em;text-align: right;transition: 350ms;}
pre[data-codetype='CSSku']:before {background-color: #eeeeee;}
pre[data-codetype='HTMLku']:before {background-color: #eeeeee;}
pre[data-codetype='JavaScriptku']:before {background-color: #eeeeee;}
pre[data-codetype='JQueryku']:before {background-color: #eeeeee;}
/* prism-syntax-highlighter */
.PopularPosts .item-title {padding-top: 10px;}
/*view morepost stylish*/
nav#viewmorepost {
    position: absolute;
    left: 0px;
    top: 0;
    background-color: #FFFFFF;
    padding: 0 8px;
}
nav#viewmorepost a {
    color: rgb(38, 40, 222);
}
/*view morepost stylish*/

.rcentpost p, .rcbytag.s .comnum, .rcbytag.g1 li strong, .rcbytag.g1 .recntright .info {
    margin: 5em 0px 0px 0px;
}
/*fix desactiver défaut css*/
sspan.widget-item-control {
    display: none;
}
.fform textarea#ContactForm1_contact-form-email-message {
    display: inline;
    width: 100%;
    max-width: 245px;
}
/*fix desactiver défaut css*/
/*pager*/
.index #blog-pager, .archive #blog-pager {
    text-align: center;
}
/*pager*/
/*-----ads-----*/
.adsbe, .adsbec{
    padding: 10px 0 0;
}
/*----ads------*/
/*-----stylish posts-----*/
.post-outer.list {background-color: #2bb5f3;margin: 10px 0px 0px 0px;}
.post-body, html.mobile .post-body {padding: 8px 8px 8px 8px;}
/*-----stylish posts-----*/
/*Search Description*/
.BSDesc{background-color:#F6F7F9;border:1px solid #E3EAF0;overflow:hidden;padding:2%;font-size:15px;margin-bottom:15px;width:96%;}
.BSDesc p{margin:0;opacity:0.8}
/*fix wrapper if translated*/
#hheader-wrapper {width: 90%;}
.sf-menu {float: none;}
#related-postss ul li {padding: 2px 10px 0px 20px;}
#related-postsss ul {margin: 5px !important;}
#related-postsss ul li {padding-left: 15px !important;padding-right: 5px !important;}
#WidgetFloaterPanels div {
    display: none !important;
}
/*rating-stylish*/
.rw-ui-container.rw-dir-ltr .rw-report-link, .rw-ui-container.rw-valign-middle.rw-halign-right .rw-report-link {
    display: none !important;
}
.rw-ui-info-container{
    ddisplay: none !important;
}
.rw-ui-report, .rw-ui-report div, .rw-ui-report span, .rw-ui-report td, .rw-ui-report tr, .rw-ui-report em, .rw-ui-report i, .rw-ui-report b, .rw-ui-report a, .rw-ui-report var {
    display: none !important;
}
.rw-ui-report, .rw-size-large, .rw-halign-center, .gradient, .rw-dir-rtl, .rw-type-nero, .rw-meta-rating-159635443, .rw-valign-top{
    ddisplay: none !important;
}
span.rw-ui-info-container {
    display: none !important;
}
/*footer stylish*/
#footer-wrapper .footer-wrap {
    margin: 0 0;
    padding: 0px 0px 30px 0px;
    background: url(http://www.tech-wd.com/wd/wp-content/themes/kalem-tech/images/fbg.png) #0b0b0b;
}
/*fix background + logo*/
#header-wrapper {background: rgb(66, 127, 237) url(http://2.bp.blogspot.com/-_qpx7bYdvYo/UkTlmKrQqBI/AAAAAAAAJPQ/bLmD4jFhWUU/s1600/bgsqrs1.png) repeat fixed top center !important/*;width: 100% !important*/;
}
body {
    background: none !important;
}
div#ContactForm1 {
    display: none;
}
/*scrollbar stylish*/
::-webkit-scrollbar {
background: #333;
width: 15px;
}
::-webkit-scrollbar-thumb {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
background:#009BD6;
}
::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
/*push notification responsive*/
#pushengage_confirm {
    width: 25% !important;
    height: 90px !important;
    padding: 5px !important;
}
#pushengage_client_img {
    height: 70px !important;
    width: 75px !important;
}
#pushengage_dialog_content {
    display: none !important;
}
/*mohawel code comment*/
#mohawelbtn {position: absolute;visibility: hidden;}
.framhol {float: right; visibility: hidden; height:0; transition: all 0.7s ease 0s;}
#mohawelbtn:checked ~ .framhol{visibility: visible; height:241px;}
#mohawelbtn + label span::before {
content: "\f121";
color: #fff;
float: right;
font: 20px/24px fontawesome;
margin-left: 5px;
text-align: center;
}
#mohawelbtn + label span::after {
content: "\f0d7";
float: left;
font: 20px/24px fontawesome;
margin-right: 5px;
}
.mohawelcontan span {
background-color: #446FAA;
color: #fff;
cursor: pointer;
float: right;
font-size: 13px;
height: 26px;
line-height: 24px;
margin-bottom: -1px;
padding: 0 5px;
width: 124px;
}
#mohawelbtn:checked + label span {background-color: #FC5400;}
#mohawelbtn:checked + label span::after {content: "\f00d";}
/*mohawel code comment*/
/*TouchScroll*/
/*body{cursor: -webkit-grab;}*/
/*TouchScroll*/
